name: Release

on: [push, pull_request]

jobs:
    release:
        name: Release
        runs-on: ubuntu-latest
        if: "!contains(github.event.head_commit.message, '[skip ci]')"
        steps:
            - name: Checkout
              uses: actions/checkout@v5.0.0
            - name: Install pnpm
              uses: pnpm/action-setup@v4.2.0
              id: pnpm-install
              with:
                  version: "10.19.0"
                  run_install: false
            - name: Setup nodejs
              uses: actions/setup-node@v6
              with:
                  node-version: "22.21.0"
            #- name: Setup pnpm cache
              #uses: actions/cache@v3
              #with:
                  #path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
                  #key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
                  #restore-keys: |
                      #${{ runner.os }}-pnpm-store-
            - name: Install dependencies
              run: pnpm install
            - name: Build
              run: pnpm build
            - name: Test
              run: pnpm test
            - name: Release
              run: pnpm semantic-release
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

